.ant-layout-header{
    /* overwritting antd's css */
    background: #fff !important;
    box-shadow: 2px 5px 8px 0px #cecece !important;
    z-index: 10;
}
.ant-layout-header .header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.ant-layout-header span{
    font-size: x-large;
}
.ant-layout-header span:first-child{
    color: rgb(39, 93, 201);
}
.ant-layout-header span:last-child{
    font-weight: bolder;
}
